{% load cart_template_tags %}


<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <a class="navbar-brand mt-2 mt-sm-0" href="https://mdbootstrap.com/">
                <img
                        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                        height="20"
                        alt="MDB Logo"
                        loading="lazy"
                />
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% comment %}
        <li class="nav-item active">
          <a class="nav-link " href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About</a>
        </li>
        {% endcomment %}
            </ul>
        </div>
        {% if request.user.is_authenticated %}
            <div class="d-flex align-items-center">
                <a class="nav-link me-3" href="{% url 'core:order-summary' %}">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">{{ request.user|cart_item_count }}</span>
                </a>
                <a class="nav-link me-3" href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="nav-link me-3" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="{% url 'account_logout' %}" class="border rounded px-2 nav-link"
                   target="_blank">
                    <i class="fab fa-github me-2"></i>Logout
                </a>
            </div>
        {% else %}
            <div class="d-flex align-items-center">
                <a href="{% url 'account_login' %}" class="border rounded px-2 nav-link"
                   target="_blank">
                    <i class="fab fa-github me-2"></i>Login
                </a>
                <a href="{% url 'account_signup' %}" class="border rounded px-2 nav-link"
                   target="_blank">
                    <i class="fab fa-github me-2"></i>Signup
                </a>
            </div>
        {% endif %}
    </div>
</nav>